body{
    text-align: center;
}
.background{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: -2;
    background-image: url("./asakusa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}
.content{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding: 50px 10%;
    width: 80%;
    text-align: center;
    background-color:rgba(182, 182, 182, 0.781);
}
h1{
    margin: 10vh auto 10vh auto;
    font-size: 3rem;
    text-shadow:5px 5px 5px rgb(245, 245, 245); 
}
button{
    margin: auto;
    width: 100px;
    height: 40px;
}
.qian{
    margin: auto;
    padding: 30px;
    text-align: center;
    font-size: 1.5rem;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}
p{
    text-indent:2em;
}